[user]
  name = Jonathan Stanton
  email = jonathan@jastanton.com

[credential]
  helper = osxkeychain

[url "https://github.com/"]
	insteadOf = ssh://git@github.com/
	insteadOf = git@github.com:

[alias]
  aa = add --all
  br = branch
  co = checkout
  cp = cherry-pick
  l  = log --graph --decorate --pretty=oneline --abbrev-commit
  la = log --graph --decorate --pretty=oneline --abbrev-commit --all
  pp = !git pull --rebase && git push
  sl = stash
  st = status

[branch]
  autosetuprebase = always

[color]
  ui = auto

[push]
	default = current

