[user]
  name = Jonathan Stanton
  email = jonathan@jastanton.com
[credential]
  helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[alias]
  aa = add --all
  br = branch
  co = checkout
  cp = cherry-pick
  l  = log --graph --decorate --pretty=oneline --abbrev-commit
  la = log --graph --decorate --pretty=oneline --abbrev-commit --all
  pp = !git pull --rebase && git push
  sl = stash
  st = status

[branch]
  autosetuprebase = always

[color]
  ui = auto

[core]
  excludesfile = .gitignore.global
  quotepath = false

[include]
  path = .gitconfig.os
  path = .gitconfig.personal

[push]
  default = simple

[url "https://github.com/"]
  insteadOf = "gh:"
[url "https://github"]
	insteadOf = git://github
